{% extends "_base.html" %}
{% load static %}
{% block title %} Log In {% endblock %}
{% block content %}

        <div class="sign-div" >
          
          <div class="sign-div-mid" >
            
            <div class="sign-div-mid-img" >
              <img class="sign-div-mid-img-pic" alt="" src="{% static "css/img/profile.png" %}" />
            </div>
            
            <div class="sign-div-mid-topic" > Sign In </div>
            
                <form action="{% url 'login' %}" method="post" class="sign-div-mid-form">
                  {{ form.as_p }}
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                  
                  <a href="{% url "password_reset" %}" style="display:block;margin:1rem;color:#333;" >Forgotten your password?</a>
                  
                  <button> Sign In </button>
                </form>
          
          </div>
          
        </div>

{% endblock %}
