{% extends "_base.html" %}

{% block title %}Post a Blog article{% endblock %}
{% block content %}

      <div class="create_blog" >
        
        <form class="create_blog-form" method="post" enctype="multipart/form-data" >
          
          <div class="create_blog-form-top" > Create Blog </div>
          
          {% csrf_token %}
            {{ form }}
          
          <button class="create_blog-form-btn" type="submit" name="action" value='SAVE' > Post Blog </button>
          
        </form>
        
      </div>

{% endblock %}
