{% extends '_base.html'%}
{% load static %}
{% block title %} Our Services {% endblock %}

{% block content %}
















            <div class="our_services-welcome-container">

              <div class="our_services-welcome-container-head" > Our Services </div>

              <div class="our_services-welcome-container-sub" > ... find out what we do and how best we can serve you </div>

            </div>












            <div class="category_div">


              <div class="category_div-serv" >

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Web
                    <!--<br>-->
                    Design
                    <br>
                    and development
                  </div>

                  <div class="category_div-serv-part-str" >
                      Web design is important because it impacts how your audience perceives
                      your brand. The impression you make on them can either get them to
                      remain on your page and learn about your business or leave your page
                       and turn to a competitor.
                      A good web design helps you keep your leads on your page.
                      They will judge your business within seconds. In these first few seconds,
                      you want to make a positive impact on your audience.

                      If your website looks unappealing or outdated, your audience will
                      immediately have a negative impression
                      of your business.
                      That is why we have a team of seasoned web designers and web developers
                      that are waiting to give the best impression to your customers;
                      We gurantee to offer;
                  </div>

                  <li>Solid Navigation</li>
                  <li>Responsive Design</li>
                  <li>Style Guide</li>
                  <li>Purposeful Visuals  </li>
                  <li>Good Copy</li>
                  <li>Call-To-Action (CTA) Buttons</li>
                  <li>Page Speed</li>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/web.gif' %}" />
                </div>

              </div>







              <div class="category_div-serv" >

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/app.gif' %}" />
                </div>

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Mobile Design
                    <br>
                    and Development
                  </div>

                  <div class="category_div-serv-part-str" >
                      Mobile apps are a great strategy to keep your customers
                      engaged with your brand, offering unique features that are
                       more engaging than Web. Apps can prompt both potential and
                       current customers to engage,
                     and continue to engage, with your business.
                     An app offers your customers a more convenient way to browse, shop and interact with a brand, with easily
                     accessible information right at their fingertips. As a result, your brand is right in the palm of your
                     customer’s hand. More importantly, the more often your customers are engaged and interact with your brand,
                      the more inclined they will be to buy your product and/or service and
                     that is why PHIBITECH's team of App Developers are ready to develop an app for your brand with the any
                     of the best features according to your specifications. We offer;
                  </div>

                  <li>Support multiple payment options</li>
                  <li> Push notifications</li>
                  <li> Great user experience</li>
                  <li> Rating and feedback</li>
                  <li> Filters and search options</li>
                  <li>Navigation</li>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

              </div>





              <div class="category_div-serv" >

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Search Engine
                    <br>
                    Optimazation
                  </div>

                  <div class="category_div-serv-part-str" >
                    This is one thing you cannot afford to mess up. If your on-page SEO
                    fundamentals are not up to snuff,
                    you’ll be fighting an uphill battle for visibility from the start.
                    Many web design elements and practices influence how you publish
                     which in turn affects how search engine spiders crawl and index
                      your website.
                      Aside from how content is published on your website, certain web
                      design elements can directly affect SEO in and of themselves.
                      Content management for a website can be difficult to understand if you’re not familiar with
                       how it works, but to put it simply, your code needs to be SEO-friendly.
                      The best way to ensure proper content management practices
                      (and subsequent search engine visibility)
                      is to partner up with a web design agency that knows what they’re doing.

                      PHIBITECH will help to index your website to tops of search engine and draw
                      more traffic to your website/brand.
                  </div>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/seo.gif' %}" />
                </div>

              </div>





              <div class="category_div-serv" >

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/app.gif' %}" />
                </div>

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Digital
                    <br>
                    Branding
                  </div>

                  <div class="category_div-serv-part-str" >
                    Digital branding is about understanding your ‘value’ as a business,
                    and messaging those values to your website visitors. But don’t worry,
                    digital branding is not about fonts, taglines, personas, imagery,
                     logos or visual identity; these require years of branding and user
                     experience (UX) knowledge.
                   Digital branding has actionable elements that any website owner can make.
                   The importance of digital branding comes down to the effective
                    communication of your value to your customer. Digital branding is
                    thinking about your potential customers – that traffic – and how we
                     can tell them who we are,
                   what makes us different, and what makes us better.

                   We have a record of creating good impressions of businesses and brands in the
                   digital world. Give value to your business today!.

                  </div>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

              </div>






              <div class="category_div-serv" >

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Artificial
                    <!--<br>-->
                    Intelligence and Data Analysis
                  </div>

                  <div class="category_div-serv-part-str" >
                    Artificial intelligence is impacting the future of virtually
                    every industry and every human being. Artificial intelligence
                    has acted as the main driver of emerging technologies like
                    big data, robotics and IoT, and it will continue to act as a
                    technological innovator for the foreseeable future.
                    The impact artificial intelligence is having on our present day lives is hard to ignore:
                   <strong>PHIBITECH</strong>  is open to patnership on Artificial Intelligence projects
                    or solving of Artificial Intelligence assignments and problems
                  </div>

                  <li>Transportation</li>
                  <li>Manufacturing</li>
                  <li>HealthCare</li>
                  <li>Education</li>
                  <li>Media</li>
                  <li>Customer Service</li>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/ai.gif' %}" />
                </div>

              </div>











              <div class="category_div-serv" >

                <div class="category_div-serv-sp" >
                  <img class="category_div-serv-sp-img" src="{% static 'css/img/mar.gif' %}" />
                </div>

                <div class="category_div-serv-part" >

                  <div class="category_div-serv-part-top" >
                    Digital
                    <br>
                    Marketing
                  </div>

                  <div class="category_div-serv-part-str" >
                    The group of potential customers that
                    are found online is a much larger group
                     of people than you are likely to be
                     able to attract locally. Using digital
                      marketing, you can reach an enormous
                      audience in a way that is both
                      cost-effective and measurable.

                      The ability to reach a global marketplace
                    You can save money and reach more customers
                    for less money than traditional marketing methods
                    Get to know your audience and allow them to know
                    you personally which can help to create brand loyalty
                    You can track responses to your marketing efforts immediately.
                    Give our team the oppurtunity to market your
                    business/brand with the most effective but cheap
                    method of reaching a greater audience.

                  </div>

                  <a href="{% url 'aboutuspage' %}#great" class="category_div-serv-part-str-a" >
                    Contact Us
                  </a>

                </div>

              </div>

            </div>





          <div class="index-contact_us" >

            <div class="index-contact_us-half" >

              <div class="index-contact_us-half-top" >
                Contact Us

              </div>

              <div class="index-contact_us-half-main" >
                Let's Give Your Business
                <br>
                The Exposure It
                <br>
                Deserves
              </div>


              <div class="about_us_real-services-nar-story" >
                  PhiBITech is is an Information Technology (IT) firm that that helps
                  differnet sizes (small, medial and Large Enterprise) to herness the
                  power of information technology for their business without loosing
                  their edge but in fact gain more grount in the ever competitive market.
                  PhiBITch as a range of services which include Business intelliegnce,
                  Graphicshichs Designing, Mobile, Desktop and web App design, Digital
                  Marketing, Branding. Reach out to us today:
              </div>

            </div>
            <form class="index-contact_us-form" method='post'>

              <div id='great' class="index-contact_us-form-top">
                Contact Us
              </div>
                {{ form.as_p }}
                {% csrf_token %}
                <button class="index-contact_us-form-btn" type="submit" name="action" value='SAVE' > Submit </button>
              <!-- <button class="index-contact_us-form-btn" type="submit" name="action" value='SAVE' > Submit Request </button> -->
            </form>
          </div>










{% endblock %}
