{% extends '_base.html'%}
{% load static %}
{% block title %} About Us {% endblock %}

{% block content %}

        <div class="box_service_main_div">
            <div class="box_service_secondary_div" data-aos="fade-right" data-aos-duration="3000"  data-aos-once="true">
                <div class="box_service_secondary_div_under">
                    <img src="{% static 'css/images/Olive-oil.jpg' %}" alt="">
                </div>
                <div class="box_service_secondary_div_under">
                        <h2>Our Strategic Focus</h2>
                        <p>
                            African Agribusiness Alliance is providing African
                             Agribusiness and its stakeholders with access to finance, 
                            investment facilitation, and policy advocacy.
                        </p>
                </div>
            </div>

            <div class="box_service_secondary_div" data-aos="fade-left" data-aos-duration="3000"  data-aos-once="true"> 
                <div class="box_service_secondary_div_under">
                    <img src="{% static 'css/images/one.png' %}" alt="">
                </div>
                <div class="box_service_secondary_div_under">
                        <h2>Access to Finance</h2>
                        <p>
                            Financial institutions in Africa are, in general, 
                            unfamiliar with agricultural lending and 
                            specifically unfamiliar the seasonality of the 
                            agricultural commodities and the cycle for processing.
                             The need to understand that the procurement of raw materials 
                             is an annual event and that purchases must be in quantities 
                             sufficient to meet the capacity of the processing unit for its
                              annual uninterrupted efficient production is crucial.

                            Thus, we are providing a program that seeks to 
                            link financial institutions to the agribusiness value 
                            chain that will bring together the stakeholders and the
                            financial institutions in a B2B forum.
                        </p>
                </div>

              
            </div>

            <div class="box_service_secondary_div" data-aos="fade-right" data-aos-duration="3000"  data-aos-once="true">
                <div class="box_service_secondary_div_under">
                    <img src="{% static 'css/images/invest.jpg' %}" alt="">
                </div>
                <div class="box_service_secondary_div_under">
                        <h2>Investment Facilitation</h2>
                        <p>
                            AAA’s investor support services will assist agribusiness 
                            industry stakeholders to understand the investment environment 
                            in Africa thereby facilitating and making investing in the 
                            industry rewarding and viable.

                            The services include investment opportunity profiling, 
                            investment advisory, technical partnership facilitation, 
                            capital raising and due diligence, feasibility study, 
                            technology selection, financial management advisory, 
                            staffing and introduction to investment promotion agencies, among others.
                            An agribusiness Investors Forum will be regularly organized
                            to network and share investment opportunity information for 
                            the development of agribusiness enterprises in Africa. Linking 
                            foreign investors with local counterparts for agribusiness networking 
                            will also be part of the support services.
                        </p>
                </div>
            </div>

            <div class="box_service_secondary_div" data-aos="fade-left" data-aos-duration="3000"  data-aos-once="true">
                
                
                <div class="box_service_secondary_div_under">
                    <img src="{% static 'css/images/two.png' %}" alt="">
                </div>
                <div class="box_service_secondary_div_under">
                        <h2>Policy Advocacy</h2>
                        <p>
                            An annual Africa International Agribusiness Conference and Exhibitions (AIACE) 
                            will be organized to network and discuss policy issues on 
                            agribusiness value chain in the continent and globally.

                            The Alliance will also publish newsletters and annual reports
                            
                            to communicate its activities and success stories to members and 
                            stakeholders. In addition to the annual conference that will gather 
                            all stakeholders in the industry, there will be a high level forum of 
                            all agribusiness organizations operating in Africa to discuss the 
                            opportunities and challenges as well as global developments in the industry.
                            
                            It will also be a peer group networking and B2B discussions to enhance 
                            the development of agribusiness industry in Africa. AAA will publish proceedings 
                            and recommendations during conferences and forums as well as commissioned 
                            research papers for the knowledge of all agribusiness stakeholders along the value chain.
                        </p>
                </div>

            </div>
        </div>
    

        {% endblock %}