<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/thanks.css">
    <link rel="stylesheet" href="../css/style.css">

  </head>
    <body>
        <header>
            <nav>
                <div class="logo_house">
                    <img src="../css/images/logo.png" alt=""></div>
                <div class="openMenu"><i class="fa fa-bars"></i></div>
                <ul class="mainMenu">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./blog_list.html">Blog</a></li>
                    <li><a href="./services.html">Programs</a></li>
                    <li><a href="./events.html">Events & Webinars</a></li>
                    <div class="closeMenu"><i class="fa fa-times"></i></div>
                </ul>
            </nav>
        </header>
            <div class="main_thanks_div">
                <div class="main_thanks_box">
                    <div class="thanks_box">
                        <img src="../css/images/check-mark.png " alt="">
                    </div>
                    <div class="thanks_text">
                            Thank You For Subscribing!
                     </div>
                     <div class="goto_thanksbtn">
                         <button ac>Go To Login</button>
                     </div>
                </div>
            </div>
        </body>
        <footer></footer>
        </html>